/* Your styles should be mobile-first and responsive */


/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions {
    max-width: 300px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.button-div {
    display: flex column;
    justify-content: space-between;
    padding-bottom: 10px;
}

.container img {
    margin-top: 15px;
    max-height: 500px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

legend {
    font-size: 20px;
    padding-bottom: 25px;
}

header {
    text-align: center;
}